* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	color: #555;
	/*font-size: .7em;*/
	/*text-align: justify;*/
}
/*usuario registrado*/
body.registrado {
	color: #6b6b6b;
	background: #eee url(../img/fondo.gif) repeat left top;
}
body.registrado div.region {
/*	background: url(../imagenes/fondo_contenedor_50a.png) repeat left top;*/
}
body.registrado #contenedor {
	background: transparent url(../img/fondo_contenedor_30a.png) repeat left top;
}

img {
  border: 0;
	-ms-interpolation-mode: bicubic; /*para que IE7 active la interpolacion bicubica en las imagenes*/
}
p {
	margin-bottom: 1em;
}
ul,
ol {
	margin-left: 2.7em;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #666666;
	text-decoration: underline;
}
acronym {
	border-bottom: none; /* Firefox */
}
#saltar-accesible {
	left: -5000em; /*para que no se muestre el menu, pero lo puedan leer los lectores de pantalla*/
	position: absolute;
}
#contenedor {
	width: 960px;
  height: 100%; /* IE6 */
	min-height: 100%;
	margin: auto;
}


/*CABECERA
-------------------------------------------------------------	*/
#cabecera {
  background:url("../img/cabecera_1px.png") repeat-x scroll left top transparent;
  height:104px;
  margin-bottom:10px;
  vertical-align:middle;
  width:960px;
}
	#cabecera h1 {
		float: left;
		width: 192px;
		height: 104px;
		background: transparent url(../img/logo_uji_horizontal.png) no-repeat center right;
		text-indent: -9999px; /*para que no se muestre el texto, pero lo puedan leer los lectores de pantalla*/
	}
  #cabecera.cap-servicios h1 {
		width: 75px;
		height: 78px;
		background: transparent url(../img/logo_uji_vertical.png) no-repeat center right;
    margin: 10px 20px;
		float:left;
	}  
	#cabecera h1 a {
		display: block;
		width: 100%;
		height: 100%;
	}
  #cabecera #titulo-servicios {
    float: left;
    width:470px;
  }
  #cabecera #titulo-servicios #titulo1-servicios {
    color:#FFFFFF;
    font-size:1.4em;
    text-transform:uppercase;
  }
  #cabecera #titulo-servicios #titulo2-servicios {
    color:#CDCCE5;
    font-size:1.2em;
  }
  
	#cabecera ul {
		margin: 0;
	}
#head-r-block {
	float:right;
	height:104px;
	width:355px;
}
#map-lang-block {
	float:right;
	height:48px;
	width:345px;
}

#mapa-sitio {
	float: right;
  font-size: .75em;
	color: #6b818e;
	padding: 26px 20px 0 0;
	height:22px;
}
	#mapa-sitio a {
		color: #999999;/*#6b818e;*/
		padding-left: 15px;
		background: transparent url(../img/bullet_mapa_sitio.png) no-repeat left 4px;
	}
#buscador {
	float: right;
	margin-top: 5px;
  margin-right: 16px;
	*width: 322px;
}
	#buscador label {
		display: none;
	}
	#buscador-categoria,
	#buscador-buscar {
          font-family: Helvetica, Arial, sans-serif;
          *font-size: 13px;//hack ie 6 y 7 ya que estos navegadores no admiten em como modificador de tama�o de fuente para elementos de formulario
font-size: 0.81;
          width: 136px;
          height: 18px;
          background-color: #6b818e;
          border: none;
          color: #eeeeee;
          padding-left:3px;
	}
        #buscador-categoria {
          margin-right: 5px;
        }
	#buscador-btn-buscar {
		font-family: Helvetica, Arial, sans-serif;
		border: none;
		background-color: #cfe1e5;
		height: 18px;
		padding:0 5px 2px;
		*padding:0 0 2px;
	}
#usuario {
	float: right;
	clear: right;
	margin-top: 5px;
	/*font-size: 1.2em;*/
  font-size: .75em;
  margin-right: 16px;
}
	#usuario a {
		display: block;
		color: #E7D9EC;
		padding: 2px;
		font-weight: bold;
		white-space: nowrap;
	}
		#usuario a {
			background-color: #7f3f93;
		}
		body.registrado #usuario a {
			background-color: #9c2b3f;
      color: #df8a9a;
		}
		body.registrado #usuario a span#usuario-nombre {
			font-weight: normal;
			text-decoration: underline;
		}


#idiomas {
	float: right;
	/*font-size: 1.3em;*/
  font-size: .81em;
	color: #fff;
  height: 48px;
  margin-right: 16px;
}
	#idiomas ul li {
		list-style: none;
		float: left;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
	}
	#idiomas ul li.primero {
		border-left: 1px solid #fff;
	}
	#idiomas ul li a {
		display: block;
		color: #fff;
		padding: 24px 5px 5px 5px;
	}


/*MENU PRIMARIO (niveles 1 y 2)
-------------------------------------------------------------	*/
/* el siguiente estilo es para que no se muestre los divs de cierre y apertura si js no activo, en caso de js activo se eliminar�n las clases con js*/
#menu-primario #cerrar-menu.far-away,
#menu-primario #abrir-menu.far-away {
  right: 9999px; 
  position: absolute;
  
}
#contenedor-menu-primario {
	margin-bottom: 10px;
	background-color: #fff;
}
/* en el menu no utilizo "selectores avanzados" para mantener compatibilidad con navegadores antiguos*/
#menu-primario {
	text-align: left;
	overflow: hidden;
	color: #999;
}
* html #menu-primario { /* Hack IE6 */
	
}
*+html #menu-primario { /* Hack IE7 */
	overflow: hidden;
}
#menu-primario .colapsado ul.subnivel li.ultimo {
	border-bottom: none;
}

	#menu-primario a {
		color: #555;
	}
	#menu-primario ul {
		list-style: none;
		margin: 0;
	}
	/* expandido */
  #menu-primario .expandido ul.nivel {
		float: left;
		width: 958px;
    list-style: none;
		border: 1px solid #ccc;
  }
	*+html #menu-primario .expandido ul.nivel { /* Hack IE7 */
			width: 958px;
	}
    #menu-primario .expandido ul.nivel li {
			float: left;
			width: 175px;
			/*font-size: 1.7em;*/
      /*font-size: 1.26em;*/
      font-size: 1.1em;
			font-weight: bold;
			border-left: 1px solid #ccc;
			padding: 8px;
    }
    
    *html #menu-primario .expandido ul.nivel li {
      *width: 174px;/* Hack IE6 */
    }
    *:first-child+html #menu-primario .expandido ul.nivel li {
      width: 175px;/* Hack IE7 */
    }
		#menu-primario .expandido ul.nivel li.activo,
		#menu-primario .expandido ul.nivel li:hover {
			background-color: #f2f2f2;
    }
    #menu-primario .expandido ul.nivel li.primero {
			border: none;
    }
    #menu-primario .expandido ul.nivel li.ultimo {
			width: 174px;
    }
		*+html #menu-primario .expandido ul.nivel li.ultimo { /* Hack IE7 */
				width: 174px;
		}
			#menu-primario .expandido ul li ul.subnivel {
				float: none;
				height: 162px;
				/*padding: 0 8px 0 0;*/
			}
				#menu-primario .expandido ul li ul.subnivel li{
					float: none;
					/*font-size: 0.7em;*/
          font-size: 0.81em;
					font-weight: normal;
					border: none;
					padding: 3px 0;
				}

		/* colapsado */
		#menu-primario .colapsado {
			float: left;
			/*width: 960px;*/
			/*overflow: auto;*/
			/*border-left: 1px solid #ccc;*/
		}
		#menu-primario .colapsado ul li {
			float: left;
		}
		#menu-primario .colapsado ul.activo {
			display: block;
		}
		#menu-primario .colapsado ul.no-activo {
			display: none;
		}
		#menu-primario .colapsado ul.nivel li {
			/*font-size: 1.8em;*/
      /*font-size: 1.26em;*/
      font-size: 1.1em;
			width: 175px;
      *width: 173px;
			padding: 8px;
			border: 1px solid #eee;
			border-left: none;
			border-bottom: none;
			font-weight: bold;
			background-color: #fff;
		}
		#menu-primario .colapsado ul.nivel li.ultimo {
			width: 175px;
      *width: 177px;
      /*border-right: none;*/
		}
			* html #menu-primario .colapsado ul.nivel li.ultimo { /* Hack IE6 */
				width: 180px;
			}
			*+html #menu-primario .colapsado ul.nivel li.ultimo { /* Hack IE7 */
				width: 180px;
			}
		#menu-primario .colapsado ul.nivel li.primero {
			width: 173px;
      border-left: 1px solid #eee;
		}
    #menu-primario .colapsado ul.nivel li.activo {
			border-right: 1px solid #ccc;
			border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
			background-color: #f2f2f2;
		}
		#menu-primario .colapsado ul.subnivel {
			border: 1px solid #ccc;
			/*border-left: none;
      border-right: none;*/
			overflow: auto;
			width: 958px;
			background-color: #f2f2f2;
		}

		#menu-primario .colapsado ul.subnivel li {
			float: left;
			width: auto;
			/*font-size: 1.6em;*/
      font-size: 0.96em;
			font-weight: normal;
			padding: 5px;
			/*border-right: 1px solid #ccc;*/
			/*border-bottom: 1px solid #ccc;*/
			border-left: none;
		}
		* html #menu-primario .colapsado ul.subnivel li { /* Hack IE6 */
			float: none;
			vertical-align: top; /* baseline correccion*/
			zoom: 1; /* IE7 (hasLayout)*/
			*display: inline; /* IE */
		}
		*+html #menu-primario .colapsado ul.subnivel li { /* Hack IE7 */
			float: none;
			vertical-align: top; /* baseline correccion*/
			zoom: 1; /* IE7 (hasLayout)*/
			*display: inline; /* IE */
		}
    #menu-primario .colapsado ul.subnivel li a {
			padding: 2px;
      padding-right: 12px;
      border-right: 1px solid #ccc;
		}
    #menu-primario .colapsado ul.subnivel li.ultimo a {
			border: none;
		}
		#menu-primario .colapsado ul.subnivel li.ultimo {
			/*border-bottom: none;*/
		}
    
#menu-primario #abrir-menu, #menu-primario #cerrar-menu, #cerrar-banner, #abrir-banner {
	text-align:right;
  width:958px;
	/*position: absolute;*/
	font-size: .75em;
  border: 1px solid #CCCCCC;
  border-top: none;  
}
#menu-primario #cerrar-menu {
	/*margin-top: 185px;*/
}
  #menu-primario #abrir-menu a, #menu-primario #cerrar-menu a, #cerrar-banner a, #abrir-banner a {
    padding-right:8px;
    color: #999999;
  }
/*BANNER
-------------------------------------------------------------	*/
/* el siguiente estilo es para que no se muestre los divs de cierre y apertura si js no activo, en caso de js activo se eliminar�n las clases con js*/
#contenedor-banner-principal .far-away {
  right: 9999px; 
  position: absolute;
  
}
#contenedor-banner-principal {
	background-color: #fff;
	color: #fff;
  margin-bottom:10px;
 float: left;
}
#banner-principal-txt,
#banner-principal-img,
#banner-principal-fecha {
	float: left;
}
#contenedor-banner-principal .expandido {
	height: 246px;
}
#contenedor-banner-principal .expandido #banner-principal-txt  {
	width: 273px;
	height: 66px;
	padding: 140px 40px 40px 40px;
	background: #a92735 url(../img/banner1px.png) repeat-y left top;
}

* html #contenedor-banner-principal .expandido #banner-principal-txt { /* Hack IE6 */
	padding: 128px 38px 40px 40px;
}
*+html #contenedor-banner-principal .expandido #banner-principal-txt { /* Hack IE7 */
	padding: 140px 38px 40px 40px;
}
	#contenedor-banner-principal .expandido #banner-principal-txt h2 {
		/*font-size: 2.2em;*/
    font-size: 1.7em;
		font-weight: normal;
	}
	#contenedor-banner-principal .expandido #banner-principal-txt p {
		/*font-size: 15px;*/
    font-size: 0.96em;
	}	
#contenedor-banner-principal .expandido #banner-principal-img {
	width: 607px;
	height: 246px;
}

#banner-principal-txt.colapsado {
	width: 910px;
	/*height: 72px;*/
	/*line-height: 72px;*/
	padding: 25px;
	background: #ce293a url(../img/banner1px.png) repeat-y right top;
}
		
	#banner-principal-txt.colapsado h2 {
		font-size: 1.7em;
		font-weight: normal;
	}
	#banner-principal-txt.colapsado p {
		font-size: 1.38em;
	}


#banner-principal-fecha,
#banner-contenido-fecha {
	position: absolute;
	height: 76px;
	padding: 28px 10px 0;
	text-transform: uppercase;
}
#banner-principal-fecha {
	background-color:#93202D;
}
#banner-contenido-fecha {
	background-color:#06619E;
}
	#banner-principal-fecha-dia,
  #banner-contenido-fecha-dia  {
		display: block;
		text-align: center;
		font-size: 2.25em;
	}
	#banner-principal-fecha-mes,
  #banner-contenido-fecha-mes  {
		display: block;
		text-align: center;
		/*font-size: 1.6em;*/
		text-transform: uppercase;
	}	




/*	
#cerrar-banner, #abrir-banner {
	text-align: right;
	border: 1px solid #bbb;
	border-top: none;
	font-size: 1.1em;
	clear: both;
	padding-right: 8px;
}
	#cerrar-banner a, #abrir-banner a{
		color: #999;
	}
  */
/* LATERAL DERECHO
-------------------------------------------------------------	*/
#contenedor {
  display: table;
}
 
#contenidos {
  display: table-row;
}
 
#columna1, #columna2, #columna3 {
  display: table-cell;
}
#region-lateral-der {
	border: 1px solid #bbb;
 /* margin: 0 1px 0 8px;*/
	width: 236px;
	float: right;
	background-color: #fff;
}
	#region-lateral-der ul {
		list-style: none;
		margin: 0;
	}
#region-lateral-der-contenido {

}
#menu-secundario {
	color: #fff;
	text-align: left;
}
	#menu-secundario a {
		color: #fff;
		text-decoration: none;
	}
	#menu-secundario ul li.nivel {
          /*font-size: 1.2em;*/
          font-size: 1em;
          font-weight: bold;
	}
	#menu-secundario ul li.nivel a {
          display: block;
          width: 228px; /* tama�o fijo por culpa de IE6 */
          /*height: 100%;*/
          padding: 6px 0 6px 9px;
	}
	#menu-secundario ul li.nivel a img {
		vertical-align: middle;
	}
	#menu-secundario ul li.colapsado,
	#menu-secundario ul li.expandido {
		background: #3C688B url(../img/boton1_menu2_1px.png) repeat-y left top;
		border-bottom: 1px solid #fff;
	}
  #menu-secundario .nivel.colapsado ul {
    display: none;
  }
/* elementos normales del menu */
	#menu-secundario ul li ul.subnivel {
		color: #555;
		background-color: #eee;
    /*font-size: .7em;*/
    font-size: .75em;
		font-weight: normal;
	}
		#menu-secundario ul li ul.subnivel li {
			border-top: 1px solid #fff;
		}
		#menu-secundario ul li ul.subnivel a {
			display: block;
			width: 201px; /* tama�o fijo por culpa de IE6 */
			/*height: 100%;*/
			color: #555555;
			border-top: 1px solid #eee;
			padding: 5px 5px 5px 30px;
		}
		#menu-secundario ul li ul.subnivel a:hover {
			background-color: #ddd;
			color: #666666;
		}
		

	#menu-secundario ul li ul.subnivel2 {
		color: #555;
		background-color: #fff;
		font-size: .9em;
		font-weight: normal;
	}
		#menu-secundario ul li ul.subnivel2 li {
			border-top: none;
		}
		#menu-secundario ul li ul.subnivel2 a {
			display: block;
			width: 192px; /* tama�o fijo por culpa de IE6 */
			/*height: 100%;*/
			color: #555555;
			border-top: 1px solid #eee;
			padding: 5px 0 5px 15px;
			margin: 0 14px;
		}
		#menu-secundario ul li ul.subnivel2 a:hover {
			background-color: transparent;
			color: #555;
		}
		#menu-secundario ul li ul.subnivel2 a.primero {
			border-top: none;

		}

/* elemento menu herramientas */
#menu-secundario ul li#herramientas {
	background: #f27427 url(../img/boton2_menu2_1px.png) repeat-y left top;
}

	#menu-secundario ul li#herramientas ul.subnivel {
		color: #555;
		background-color: #fff;
		font-size: .85em;
		font-weight: normal;
	}
		#menu-secundario ul li#herramientas ul.subnivel li {
			border-top: none;
		}
		#menu-secundario ul li#herramientas ul.subnivel a {
			display: block;
			width: 211px; /* tama�o fijo por culpa de IE6 */
			/*height: 100%;*/
			color: #555555;
			border-top: 1px solid #eee;
			padding: 5px 5px 5px 20px;
		}
		#menu-secundario ul li#herramientas ul.subnivel a:hover {
			background-color: #eee;
		}
/**/
#nube-tags {
	margin: 40px 20px 0 20px;
  font-size: 0.7em;
}
	#nube-tags a {
		color: #999;
	}
	#nube-tags span.tag-link1 a {
		font-size: 1.2em;
	}
	#nube-tags span.tag-link2 a {
		font-size: 1.4em;
	}
	#nube-tags span.tag-link3 a {
		font-size: 1.6em;
	}
	#nube-tags span.tag-link4 a {
		font-size: 1.8em;
	}
	#nube-tags span.tag-link5 a {
		font-size: 2em;
	}
/**/
#enlaces-sociales {
  padding: 44px 0;
}
	#enlaces-sociales h3 {
		/*font-size: 1.3em;*/
		font-weight: normal;
		padding: 0 0 5px 20px;
	}
	#enlaces-sociales ul {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		overflow: auto;
		padding: 5px 5px 5px 20px;
	}
		#enlaces-sociales ul li {
			float: left;
			margin-right: 7px;
		}
#banners-secundarios {
		text-align: right;
}
	#banners-secundarios img {
		display: block;
    width:236px;
	}
  #banners-secundarios img {
		display: block;
    width:236px;
	}
  
#region-lateral-der img#sello-efqm {
  float:right;
  height:75px;
  margin:35px 20px 20px 10px;
}

/*PIE
-------------------------------------------------------------	*/
#pie {
  color: #999;
	padding-top: 56px;
	text-align: center;
	clear: both; /* IE6 */
	background-color: #fff;
	margin-top: 8px;
  font-size:0.75em;
  float: left;
  width: 960px;
}
#pie-marcas {
	height: 65px;
	/*padding-top: 56px;*/
}
	#pie-marcas ul {
		display: -moz-inline-stack; /* FF2*/
		display: inline-block;
		vertical-align: top; /* baseline correccion*/
		margin: 5px;
		zoom: 1; /* IE7 (hasLayout)*/
		*display: inline; /* IE */
		list-style: none;
		margin: auto;
	}
		#pie-marcas ul li {
			float: left;
			margin-right: 50px;
		}
#pie-info {
	border-top: 1px solid #bbb;
	padding-top: 10px;
	padding-bottom: 40px;
}
#pie-info-modificacion {
	padding-bottom: 10px;
}
#pie-info-modificacion-fecha {
	text-transform: uppercase;
}

#slideshow1, #slideshow2 { position: relative; }
#controles1, #controles2 { z-index: 1000; position: absolute; top: 0; left: 0; display: none;
                        background-color: #fff; border: 1px solid #ddd; margin: 0; padding: 2px 2px; width: 40px;}
#controles1 span, #controles2 span { margin: 0 1px }

