/*
  Estilos temporales para la editora antigua de la UJI 
  fecha: 2010/04/30
-------------------------------------------------------------	*/
#uji-antiguo {
  display: none;
}
#uji-nuevo {
  display: block;
}

#region-contenido table {
  margin: 0;
}

#region-contenido div.bloque {
  padding: 15px;
  width: 684px;
}

#region-contenido #contenido-ujier h2.bocadillo-rojo {
  margin: 10px 0 30px 0;
  padding: 0 10px;
}

/* Grupos de enlaces de las páginas del ujier (3 y 4 nivel)
------------------------------------------------------------------*/
#region-contenido #contenido-ujier  a {
		color: #999;
		text-decoration: none;
	}
#region-contenido #contenido-ujier .cap-nivel3 {
  display: block;
  padding: 4px 6px 2px 15px;
  font-size: 1.2em;
	font-weight: bold;
  color: #555;
	background-color: #eee;
  cursor: pointer;
  margin-bottom: 3px;
}
#region-contenido #contenido-ujier .cap-nivel3 img.ujier-arrow {
  float: right;
  margin: 4px 7px;
}
#region-contenido #contenido-ujier img {
  vertical-align: middle;
}

#region-contenido #contenido-ujier #botones-colapsar-ujier {
  float: right;
  margin: 10px 20px;
}
#region-contenido #contenido-ujier #botones-colapsar-ujier span {
  font-weight: bold;
  color: #999;
  cursor: pointer;
  margin-bottom: 3px;
}

/*Controlar cuando se cambie al nuevo*/
#region-contenido #contenido-ujier .list ul li {
  border-bottom: 1px solid #eee;
}
#region-contenido #contenido-ujier .list ul {
  margin: 0 0 10px 0;
}
#region-contenido #contenido-ujier .list ul li a {
  display: block;
  /*width: 300px; /* tamaño fijo por culpa de IE6 */
  /*height: 100%;*/
  color: #999;
  /*border-bottom: 1px solid #eee;*/
  padding: 2px 10px 2px 15px;
}
#region-contenido #contenido-ujier .list ul li a:hover {
  color: #555;
}

#region-contenido #contenido-ujier .list {
  padding-right:15px;
}