{% extends 'frontend.html' %}

{% block title %}Nou Alumne | Gestió d'Alumnes{% endblock %}

{% block ruta %}Coordinació: <a href="/coordinacio/alumnes">Gestió d'Alumnes</a> | Nou Alumne{% endblock %}

{% block tituloPagina %}Nou Alumne{% endblock %}

{% block contenido %}
					<form action="./nou" method="post">
					  <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
					  	  <tr>
					  	  	<td class="list">
					  	  	<b>Dades Personals</b><br/>
					  	  	<ul>
						  	  	<li>
							  	  	<table>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_nombre">Nom:</label></td>
							  	  			<td>{{ form_alumno.nombre }}</td>
							  	  			<td>{{ form_alumno.nombre.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_dni">Dni:</label></td>
							  	  			<td>{{ form_alumno.dni }}</td>
							  	  			<td>{{ form_alumno.dni.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_usuarioUJI">Usuari UJI:</label></td>
							  	  			<td>{{ form_alumno.usuarioUJI }}</td>
							  	  			<td>{{ form_alumno.usuarioUJI.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_email">Correu electrònic:</label></td>
							  	  			<td>{{ form_alumno.email }}</td>
							  	  			<td>{{ form_alumno.email.errors }}</td>
							  	  		</tr>
							  	  	</table>
						  	  	</li>
					  	  	</ul>
					  	  	
					  	  	<b>Estància en Pràctiques</b><br/>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  				<tr>
							  	  			<td width="125px"><label for="id_empresa">Empresa:</label></td>
							  	  			<td>{{ form_proyecto.empresa }}</td>
							  	  			<td>{{ form_proyecto.empresa.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_supervisor">Supervisor:</label></td>
							  	  			<td>{{ form_proyecto.supervisor }}</td>
							  	  			<td>{{ form_proyecto.supervisor.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_telefono">Telèfon:</label></td>
							  	  			<td>{{ form_proyecto.telefono }}</td>
							  	  			<td>{{ form_proyecto.telefono.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_inicio">Data d'inici</label></td>
							  	  			<td>{{ form_proyecto.inicio }}</td>
							  	  			<td>{{ form_proyecto.inicio.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_dedicacionSemanal">Dedicació semanal:</label></td>
							  	  			<td>{{ form_proyecto.dedicacionSemanal }}</td>
							  	  			<td>{{ form_proyecto.dedicacionSemanal.errors }}</td>
							  	  		</tr>
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  	  	
					  	  	<b>Projecte</b><br>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  				<tr>
							  	  			<td width="125px"><label for="id_titulo">Títol:</label></td>
							  	  			<td>{{ form_proyecto.titulo }}</td>
							  	  			<td>{{ form_proyecto.titulo.errors }}</td>
							  	  		</tr>
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  	  	
					  	  	<b>Tutor</b><br/>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  				<tr>
							  	  			<td width="125px"><label for="id_tutor">Nom:</label></td>
							  	  			<td>{{ form_proyecto.tutor }}</td>
							  	  			<td>{{ form_proyecto.tutor.errors }}</td>
							  	  		</tr>
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  
					  </table><!-- 
					  AAAAAA<br/>
					  alumno<br/>
					  <table>
					  {{ form_alumno.as_table }}<br/>
					  <table></table>
					  AAAAAA<br/>
					  PPPPPP<br/>
					  proyecto<br/>
					  <table>
					  {{ form_proyecto.as_table }}<br/>
					  </table>
					  PPPPPP<br/>
					  AAAAAA
					  {{ form_alumno.errors }}
					  AAAAAA
					  PPPPPP
					  {{ form_proyecto.errors }}
					  PPPPPP-->
					  <input type="submit" value="Crear l'alumne" onclick="if (!confirm('Estas segur de crear el nou alumne?')) return false;"/>
					  </form>
{% endblock %}
