{% extends 'frontend.html' %}

{% block title %}Gestió de Tutoritzacions{% endblock %}

{% block ruta %}Coordinació: Gestió de Tutoritzacions{% endblock %}

{% block tituloPagina %}Gestió de Tutoritzacions{% endblock %}

{% block contenido %}
					  <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
					  {% if listaTutores or listaProfesores or listaCoordinadores %}
					  <tr>
					  <td class="list">
					  <b>Coordinadors</b><br/>
					  {% if listaCoordinadores %}
					  <ul>
					  	{% for coordinador in listaCoordinadores %}
					  	<li><a href="#">{{ coordinador.nombre }}</a></li>
					  	{% endfor %}
					  </ul>
					  {% else %}
					  <ul></li>No hi han coordinadors</li></ul>
					  {% endif %}
					  <b>Tutors actius</b><br/>
					  {% if listaTutores %}
					  <ul>
					  	{% for tutor in listaTutores %}
					  	<li><a href="#">{{ tutor.nombre }}</a></li>
					  	{% endfor %}
					  </ul> 
					  {% else %}
					  <ul><li>No hi ha cap tutor</li></ul>
					  {% endif %}
					  <b>Professors en l'aplicació</b><br/>
					  {% if listaProfesores %}
					  <ul>
					  	{% for profesor in listaProfesores %}
					  	<li><a href="#">{{ profesor.nombre }}</a></li>
					  	{% endfor %}
					  </li>
					  </ul>
					  {% else %}
					  <ul><li>No hi han professors</li></ul>
					  {% endif %}
					  </td>
					  </tr>
					  
					  {% else %}
					  <p>No hi ha cap professor. Clica ací per afegir-hi nous professors.</p>
					  {% endif %}
					  </table>
{% endblock %}
